.favorite__container {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.favorite__wrapper {
    width: 256px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 37px;
    position: relative;
    &::after{
        position: absolute;
        width: 65px;
        height: 12px;
        content: "";
        background-image: url(../../img/star.png);
        bottom: -30px;
    }
}

.favorite__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;

    &::after {
        position: absolute;
        width: 44px;
        height: 44px;
        content: "";
        background-image: url(../../img/favorite-card.png);
        background-repeat: no-repeat;
        top: -80px;
        left: -50px;
    }
}


.favorite__text {
    margin-bottom: 20px;
    opacity: 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}
.favorite__wrapper:last-child{
    margin-right: 0;
}